<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<h2>Update User</h2>
<br>
<form th:method="PUT" th:action="@{/saveUpdatedUser}" th:object="${user}">
    <input type="hidden" name="id" th:value="${user.id}" />
    <label for="name">Name</label>
    <input name="name" type="text" th:field="*{name}" id="name">
    <br><br>
    <label for="surname">Surname</label>
    <input name="surname" type="text" th:field="*{surname}" id="surname">
    <br><br>
    <label for="department">Department</label>
    <input name="department" type="text" th:field="*{department}" id="department">
    <br><br>
    <label for="salary">Salary</label>
    <input name="salary" type="text" th:field="*{salary}" id="salary">
    <br><br>
    <input type="submit" value="Update"/>
</form>
<br><br>
<a href="/logout">Logout</a>
</body>
</html>